<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/courses.css">
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
  />

    
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="../static/images/favicon.ico">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q73GGZE6P1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q73GGZE6P1');
</script>
    <title>Course</title>
</head>
<body onload="my_alert()">
    <!--Navbar-->
    <div class="nav">
      <div class="two">
        <a href="/"><img src="../static/images/edzetta original logo.png" alt="" /> 
        </a> 
      </div>
  
      <div id="overlay">
        <div class="navcard"></div>
      </div>
  
      <div class="hb">
        <a id="btnhb" href="#" class="hamburger hide-for-dekstop">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
  
      <div class="one">
        <a href="/" style="text-decoration: none">
          <p>Home</p>
        </a>
        <a href="courses" style="text-decoration: none">
          <p>Courses</p>
        </a>
        <a href="blogs" style="text-decoration: none">
          <p>Blog</p>
        </a>

      </div>
  
      <div class="three">
        <img src="../static/images/PHONE 1.png" alt="" />
        <p class="call" data-toggle="modal" data-target="#myModal1" style="cursor: pointer">
          Request Callback
        </p>
      </div>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3it-p0WF_KjSoMOHkQ9zkDIIVG-YGQ1WypV-17QL5MAug5g/viewform" class="hide-for-mobile">
        <div class="three" style="margin-right: 182px">
          <p class="call" style="cursor: pointer; padding-left: 8px">
            Book Free Trial Class
          </p>
        </div>
      </a>
    </div>
  
    <div id="hm" class="header__menu hide-for-dekstop hide-for-mobile hide_me">
      <a href="/" style="text-decoration: none">
        <p>Home</p>
      </a>
      <a href="courses" style="text-decoration: none">
        <p>Courses</p>
      </a>
      <a href="blogs" style="text-decoration: none">
        <p>Blog</p>
      </a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3it-p0WF_KjSoMOHkQ9zkDIIVG-YGQ1WypV-17QL5MAug5g/viewform" style="text-decoration: none">
        <p>Book Free Trial Class</p>
      </a>
       
     
  
      <p class="call" data-toggle="modal" data-target="#myModal1" style="cursor: pointer;     color: #195ED8;
            text-align: center;
            font-family: 'Overpass', sans-serif;">
        Request Callback
      </p>
  
    </div>
  
    <!--End of Navbar-->
    <div style="display: none" id="loader" class="loader_parent">
      <div class="loader"></div>
    </div>
  <p id="flag" style="display: none;">{{msg2}}</p>

  <div class="alert alert-success alert-dismissible a" id="s" style="display: none; position: absolute !important;
  z-index: 2;
  top: 12%;
  left: 50%;
    transform: translate(-50%,-50%);">
    <a href="#" class="close" data-dismiss="alert" aria-label="close"  style="top: -60px;"  >&times;</a>
    Callback Request Sent
  </div>

    <!--Course icon-->
    <div class="banner">
           <div class="imgbx">
               <img class="icon" src="../static/images/MIT_App_Inventor_logo.png" alt="">
           </div>
    </div>
    <div class="data">
        <div class="btn">
       
 <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3it-p0WF_KjSoMOHkQ9zkDIIVG-YGQ1WypV-17QL5MAug5g/viewform" style="text-decoration: none;">  <button  class="b2">Book A Trial</button> </a>
       
    </div>
       </div>
    <!--End Course icon-->
    <div class="cb hvr-grow"   onclick="chatbox_open()" id="chatbubble"  >
      <img class="cb_img" src="../static/images/chatbox.png" alt="">
    </div>

    <div class="iframe_parent" id="chatbox" style="display: none;">
      <p class="p_chatbox">How Can We Help You?</p>
      <div class="close-container" onclick="chatbox_close()">
        <div class="leftright"></div>
        <div class="rightleft"></div>
        <!-- <label class="close">close</label> -->
      </div>
      <iframe src="chatbot" class="i_frame" title="W3Schools Free Online Web Tutorials"></iframe>
    </div>
    
    <!--Course deatils-->
    <div class="details">
    <h2>App Inventor MIT

    </h2>

    <p>Want to see your children develop mobile Apps?

        We teach them Block based App Development which helps them increase their
        creativity.We publish the best apps built by our students in the Google Play
        Store! 
    </p>

    <h3 id="two_h" >Curriculum</h3>

<div class="list-container"  id="two_l">
    <ul style=" list-style: none; ">
        <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
                <span>Introduction</span>
                <p>Introduction to App inventor,
                    creating an account & drivers.
                   </p>
                </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Exploring Components </span>
            <p>Explanation about each component.</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span> Layout </span>
            <p>Layout section, User interface, 
                Social.</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span> Design</span>
            <p>Design and layout of our app on screen.
            </p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span style="line-height: 27px;">Blocks Section</span>
            <p>Control, Logic and Math in blocks section.</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Blocks Section </span>
            <p>Text, Lists, Dictionaries, Variables.</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Practice</span>
            <p>Designing an app(With Web pages, Images).</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Calculator</span>
            <p>Designing a calculator</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Project -1</span>
            <p>Explaining about project,
               Doubts session.</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span> Media</span>
            <p>Voice recognizer, Yandex Translator, Text to speech.</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Sensors</span>
            <p>Sensors related work.</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Multiple
                Screens</span>
            <p>Explaining about multiple
                screens & Accelerometer
                sensor.</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Drawing</span>
            <p>Drawing and animation
                (Canvas).</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Imagesprite</span>
            <p>Canvas, Imagesprite and ball.</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span> Project -2</span>
            <p>Project -2 explanation & Doubts session.</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two ">
            <span>Storage </span>
            <p>Storage and downloading,
                Bluetooth connectivity.</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Chatting App</span>
            <p>Own chatting app using CloudDB.</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Find the
                Gold</span>
            <p>It covers all the above concepts</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Sketch and
                Guess</span>
            <p>It covers all the above concepts.</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span>Extension</span>
            <p>Importing a new extension in palette.</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet cdet_two">
            <span> Major Project</span>
            <p>Major project discussion
            </p>
        </div>
        </li>
       
    </ul>


</div>
 

</div>

    <!-- script for hamburger -->
    <script>
        const btnhb=document.querySelector('#btnhb');
    const overlay=document.querySelector('#overlay');
    const hm=document.querySelector('#hm');
    btnhb.addEventListener('click' ,function(){
    
     
        
        if(btnhb.classList.contains('open'))
        {
            btnhb.classList.remove('open');
        }
        else
        {
            btnhb.classList.add('open');
        }
    
    
        
        if(overlay.classList.contains('overlay'))
        {
            overlay.classList.remove('overlay');
            overlay.classList.add('fade-out');
        }
        else
        {
            overlay.classList.add('overlay');
        }
    
        if(hm.classList.contains('hide-for-mobile'))
        {
          hm.classList.remove('hide-for-mobile')
        }
    
        else
        {
          hm.classList.add('hide-for-mobile')
        }
      }
    );
    
    function my_alert()
            {
              console.log("called")
              var x = document.getElementById("flag").innerHTML
            
               console.log(x)
               if(x=="Success")
               {
                var s = document.getElementById('s')
                s.style.display = "block";
               }
               
               
            }

    function chatbox_open()
          {
            console.log("open")
            var x = document.getElementById('chatbubble')
            x.style.display = 'none'
            var y = document.getElementById("chatbox")
            y.style.display = 'flex'
          }

          function chatbox_close()
          {
            console.log("close")
            var x = document.getElementById('chatbubble')
            x.style.display = 'flex'
            var y = document.getElementById("chatbox")
            y.style.display = 'none'
          }
    
      </script>

  <!--------Modal for Callback-------->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <form action="/callback" id="callback_form" method="post">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Request for a Callback</h4>
            <button type="button" class="close" data-dismiss="modal" style="outline: 0px; position: absolute;
            left: 87%;">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group input-group">
              <!-- <label class="call_phone">Phone Number</label>
              <label for="">test</label> -->
              <p style="font-weight: bold;">Phone Number</p>
              <div class="phoneno_parent" style=" position: absolute;    left: 50%; " >
                <input name="phoneNo" class="form-control call_request" type="tel" pattern="[0-9]{10}||[+][0-9]{12}||[0][0-9]{10}"
                title="Enter 10 digit number" oninput="this.setCustomValidity('')" required />
              </div>
    
            </div>

            <div class="form-group input-group" style="display: none;">
              <label class="call_phone">Phone Number</label>
              <input class="form-control call_request" type="text" name="formName" value="course2" />
            </div>

            <div class="form-group input-group">
              <!-- <label class="call_date">Date</label> -->
              <p  style="font-weight: bold;" >Date</p>
              <div class="date_parent"  style=" position: absolute;    left: 50%; width: 156px; " ><input name="date" class="form-control call_request" type="date" required /></div>
              
            </div>

            <div class="form-group input-group">
              <!-- <label class="call_time">Time</label> -->
              <p style="font-weight: bold;" >Time</p>
              <div class="time_parent"  style=" position: absolute;    left: 50%; "  >
                <input name="time" class="form-control call_request" type="time" required />
              </div>
            
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn" id="request" value="Request" name="r" onclick="request_call()" />
          </div>
        </div>
      </form>
    </div>
  </div>
    <!----------------- Request for Callback Popup---------- -->
    <script>
      var myForm_two = document.getElementById("callback_form");
    myForm_two.addEventListener("submit", (e) => {
      //add animation stuff here
     
      
      console.log("submitted")

      var nav = document.getElementsByClassName("nav");
      var grid = document.getElementsByClassName("banner");
      var hm = document.getElementById("hm");
      var cb = document.getElementsByClassName("cb");
      var details = document.getElementsByClassName("details");
      details[0].classList.add("blur");
      cb[0].classList.add("blur");
      hm.classList.add("blur");
      nav[0].classList.add("blur");
      grid[0].classList.add("blur");
      myForm_two.classList.add("blur");

      $("#myModal1").modal("hide");

      var animation = document.getElementById("loader");
      animation.style.display = "block";
    });

      var date, time, phone;
      function request_call() {
        var inp = document.getElementsByClassName("call_request");
        if (inp[0].value != "" && inp[1].value != "" && inp[2].value != "") {
          phone = inp[0].value;
          date = inp[1].value;
          time = inp[2].value;
          // $("#myModal1").modal("hide");
        }
      }
    </script>
</body>
</html>
